.cardRepo{
    width: 100%;
    height: 100%;
}
.star{
    color:#FFCE00;
    padding-bottom: 4px;
}

.lock{
    color:#CC042A;
    margin-left: 6px;
}
.unlock{
    color:#63BF1F;
    margin-left: 6px;
}